<header class="splash-screen-container">
  <div class='logo'>
    <h1>Tack Budget Manager</h1>
       <h2> Welcome to Tack Budget, where we care deeply about your finances </h2>
       <p> Every Decision you make, big or small, impact your life. </p>
  </div>
  <nav class='nav'>
    <ul>
      <li class='login'>
        <%= link_to "LOG IN", new_user_session_path %>
      </li>
      <li class='signup'>
        <%= link_to "SIGN UP", new_user_registration_path %>
      </li>
    </ul>
  </nav>
</header>

